.container1 {
    /*margin: 0 auto;*/
    /*width: 640px;*/
    /*height: 340px;*/
    /*background-color: #FC5454;*/
    /*position: relative;*/
}
body {
    padding: 0;
    margin: 0;
}
#game {
    background-color: #0000A8;
    position: absolute;
    width: 600px;
    height:300px;
    margin: 0 ;
}
#info {
    position:absolute;
    background-color:black;
    color:white;
    margin: 0 auto;
    left: 35%;
    top: 150px;
    padding:0 20px;
    text-align:center;
}
#btn {
    display:block;
    margin: 0 auto;
    margin-top:10px;
    margin-bottom:10px;
    padding:5px 10px;
}

#snake {
    width:10px;
    height:10px;
    display:block;
    background-color:yellow;
    position:relative;

    transition: all .3s;
}